﻿@model SistemaFinanceiro.Models.AcessoModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Forgot password</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-4">
                <form asp-action="Index">
                    @Html.Hidden("returnUrl", ViewBag.returnUrl as string)
                    @if (ViewBag.Messagen != null)
                    {
                        <p class="text-danger">@ViewBag.Messagen</p>
                    };
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Senha" class="control-label"></label>
                        <input asp-for="Senha" type="password" class="form-control" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Entrar" class="btn btn-default" />
                    </div>
                </form>
            </div>


        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                CONTRUTORA
            </div>
            <div class="col-md-6 text-right">
                <small>© 2016-2018</small>
            </div>
        </div>
    </div>

</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

</html>
